/* Banner Section */
.block--travelleisure-organizationpagebannerandblocks{
    background-color: #F4FBFF;
}
.banner-section {
    background-image: url('/travelleisure/web/profiles/contrib/apigee_devportal_kickstart/themes/custom/travelleisure/images/third-page-banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 50vh;
}

.banner-heading {
    padding-top: 12%;
}

.banner-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

/* Features Section */
.features-section {
    position: relative;
    margin-top: -100px;
    padding-bottom: 50px;
    z-index: 10;
}

/* Cards */
.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background: white;
}

.card:hover {
    transform: translateY(-5px);
}

.icon-wrapper {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f9fa;
    border-radius: 50%;
}

/* Typography */
.display-2 {
    font-weight: 700;
}

.lead {
    font-size: 1.4rem;
}

/* Product Spotlight Section */
.product-spotlight {
    margin-top: -50px;
    position: relative;
    z-index: 5;
}

.organization-api .view-content {
    padding: 25px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px;
}

.organization-api .organization-api-card {
    flex: 0 0 32.25%;
    box-sizing: border-box;
    padding: 32px;
    background-color: #FFFFFF;
    border: 1px solid #DCDFE2;
    border-radius: 2px;
    height: 282px;
    width: 362px;
}

.organization-api-card-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.011em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.organization-api-card-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 10px;
    height: 85px;
}

.organization-api-card-explore-btn a {
    color: #d64310 !important;
    text-decoration: none !important;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .display-2 {
        font-size: 2.5rem;
    }

    .lead {
        font-size: 1.2rem;
    }

    .features-section {
        margin-top: -50px;
    }
}

@media (max-width: 576px) {
    .display-2 {
        font-size: 2rem;
    }

    .lead {
        font-size: 1.1rem;
    }

    .banner-section {
        height: 70vh;
    }

    .features-section {
        margin-top: -30px;
    }
}